# Node.js
node_modules/
req.rest

# TypeScript
*.tsbuildinfo
*.js
*.js.map
dist/

# Editor-specific files
.vscode/
.idea/

# Dependency lock files
package-lock.json
yarn.lock

# Environment variables
.env

# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# macOS
.DS_Store

# Windows
Thumbs.db

src/models/data/Comments.ts
